$primary: hsl(201, 78%, 75%);
$secondary: hsl(32, 45%, 76%);
$grey: hsl(30, 2%, 45%);
$lightgrey: hsl(34, 3%, 76%);

$desaturedBlue: hsl(199, 46%, 76%);
$darkBlue: hsl(199, 29%, 44%);
$gna: hsl(34, 17%, 47%);
$gne: hsl(33, 100%, 93%);
$violet: hsl(275, 25%, 54%);
$spaceBlue: hsl(231, 13%, 20%);
$gni: hsl(45, 16%, 20%);
$danger: hsl(7, 71.6%, 42.7%);
$success: hsl(144, 74%, 55%);

$light-primary: hsl(201, 78%, 90%);
$light-secondary: hsl(32, 45%, 90%);