<footer class="footer">
  <div class="footer__column__1">
    <a target="_blank" href="https://github.com/Beygs" class="footer__column__1--links icons"> <i class="fab fa-twitter"></i> </a>
    <a target="_blank" href="https://github.com/looping124" class="footer__column__1--links icons"> <i class="fab fa-facebook-f"></i> </a>
    <a target="_blank" href="https://github.com/keeev90" class="footer__column__1--links icons"> <i class="fab fa-github"></i> </a>
    <a target="_blank" href="https://github.com/pierre-pellegrino" class="footer__column__1--links icons"> <i class="fab fa-youtube"></i> </a>
  </div>

  <div class="footer__column__2">
    <%= link_to "A propos", "#", class:"footer__column__1--links", 'data-sound': 'link-1' %>
    <%= link_to "Nos projets", "#", class:"footer__column__1--links", 'data-sound': 'link-2' %>
    <%= link_to "Foire Aux Questions", "#", class:"footer__column__1--links", 'data-sound': 'link-3' %>
    <%= link_to "Nous contacter", "#", class:"footer__column__1--links", 'data-sound': 'link-4' %>
  </div>

  <div class="footer__column__3">
    <p class="love">Fait avec <i class="fas fa-heart"></i> - THP</p>
  </div>

</footer>